<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Spotify Playlist Converter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.min.css">
    <script src="app.min.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
  </head>
  <body ng-keydown="youtube.sendEvent($event)">
    <div ng-show="loading" class="overlay">
      <div class="loader">
        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="100px" height="100px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
        	<path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
        		<animateTransform attributeType="xml"
        		attributeName="transform"
        		type="rotate"
        		from="0 25 25"
        		to="360 25 25"
        		dur="0.4s"
        		repeatCount="indefinite"/>
        	</path>
        </svg>
        
      </div>
    </div>
    <div ng-controller="appCtrl">
      <div id="login" ng-hide="spotify.noLogin || spotify.user" class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Login to spotify then select the playlist you want to play with youtube! (up to 100 songs)</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"><img src="img/login.png" ng-click="spotify.login()" class="loginbutton"></div>
        </div>
      </div>
      <div id="top" ng-if="spotify.noLogin || spotify.user" class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <select ng-change="spotify.selectPlaylist()" ng-model="spotify.nowPlaying" ng-options="playlist.name for playlist in playlists" class="form-control">
              <option value="">Select or search your playlist...</option>
            </select>
          </div>
        </div>
      </div>
      <div ng-if="spotify.user" class="youtubePlayer">
        <youtube videoid="youtube.videos" width="youtube.playerWidth" height="youtube.playerHeight"></youtube>
      </div>
    </div>
  </body>
</html>